<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>
<body>
    <main>
        <section>
            <h1>WakeApp</h1>
            <p>Hang out with friends and the world around you on WakeApp</p>
        </section>

        <section>
            <div id="form-container">
                <input type="text" id="text" placeholder="Email or phone">
                <input type="password" id="password" placeholder="Password">
                <button class="btn-login">Login</button>
                <a href="#"><h4>Forgot password?</h4></a>
            </hr>
                <button class="btn-create-profile">Create a new profile</button>
            </div>
        </section>
    </main>
</body>
</html>